* {
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    color: white;
}

.back-button {
    background: #333;
    padding: 20px;
}

.back-button i {
    color: white;
}

.back-button span {
    color: white;
}

.back-button:hover {
    background: var(--secondaryColor);
}