/* 
ALL 
*/

* {
    font-family: ‘Raleway’, sans-serif;
    color: #333;
    --primaryColor:#FF851B;
    /* --secondaryColor: #5C9852; */
    --secondaryColor: #357F83;
    --yellow: #E7D05A;
    --blue: #357F83;
    --green: #5C9852;
    --purple: #25213F;
    --bckgrndGrey: #f5f5f5;
    --headlineFont: 'Archivo Black', sans-serif;
    --postFont: 'Archivo Black', sans-serif;

}

body {
    margin: 0;
}

.transparent {
    color: transparent;
}

img {
    border-radius: 2px;
}

::selection {
    background-color: var(--yellow);
    color: white;
}

/* #HERO */

#hero {
    background: rgb(51,51,51);
    background: linear-gradient(344deg, rgba(51,51,51,1) 0%, rgba(85,85,85,1) 24%, rgba(136,136,136,1) 100%);
    width: 100vw;
    height: 110vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr) .2fr repeat(2, 1fr);
    grid-row-gap: 12px;
    position: relative;
    z-index: 3;
    /* position: absolute; */
}

#curly {
    font-size: 9em;
    color: #333;
    text-shadow: 2px 2px white;
    animation-delay: 400ms;
}

#curly:hover {
    text-shadow: 2px 2px var(--primaryColor);
}

.grid-div-1 { 
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    text-align: center;
}

.grid-div-2 {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    text-align: center;
}

.grid-div-3 {
    grid-area: 5 / 2 / 6 / 3;
    justify-self: center;
}

#hero h1, #hero p {
    color: white;
}

#hero h1 {
    font-size: 40px;
}

#myName {
    color: var(--yellow);
    text-shadow: 2px 2px #333;
    /* font-family: var(--headlineFont); */
    font-size: 50px;
}

#myName:hover {
    color: var(--primaryColor);
}

#i-make {
    font-weight: 100;
    font-size: 26px;
    padding-bottom: 30px;
    text-shadow: 2px 2px #333;
    animation-delay: 500ms;
    border-bottom: dotted 3px #333;
}

.grid-div-2 a {
    text-decoration: none;
}

#my-work {
    font-size: 20px;
    font-weight: 100;
    color: white;
    padding-bottom: 50px;
    animation-delay: 1.3s;
}

.button {
    background: transparent;
    border: solid 4px var(--secondaryColor);
    color: white;
    height: 30px;
    padding: 20px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.button:hover {
    background: var(--secondaryColor);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pad {
    padding: 20px;
    margin: auto 0 50px 0;
    background: #333;
    border: none;
}

/* #NAV */

header {
    background: #222;
    height: 5em;
    width: 100vw;
    /* background: #1B252F; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

header a:hover {
    color: var(--primaryColor);
}



.no-bullet ul {
    padding-left: 0;
}

.no-bullet li {
    list-style-type: none;
    padding: 1em;
    /* padding-left: 0; */
}

#veggie-open, #veggie-closed {
    color: white;
    font-size: 2em;
    display: none;
}

/* #ABOUT */

#about, #portfolio, #blog, #contact {
    padding-top: 60px;
}

#aboutMe {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
}

#aboutMeLeft {
    grid-area: 1 / 1 / 3 / 2;
}

#aboutMeRight {
    grid-area: 1 / 2 / 3 / 3;
}

#aboutMe p {
    margin-top: 50px;
}

.section-heading {
    font-family: var(--headlineFont);
    font-size: 65px;
    font-weight: 100;
    margin: auto auto 12px 12px;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 1px;
}

#about-p {
    padding-top: 60px;
    width: 80%;
    text-align: left;
    font-size: 18px;
    padding-left: 8px;
    font-weight: 100;
}

#profilePic {
    width: 500px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    animation-delay: 200ms;
}

#about i {
    font-size: 4em;
    margin: 10px;
}

#code-icon {
    color: var(--primaryColor);
}

#guitar-icon {
    color: var(--secondaryColor);
}

#ruler-icon {
    color: var(--purple);
}
#phone-icon {
    color: var(--green);
}

.card-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px auto 20px auto;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.card figcaption {
    padding-top: 10px;
}

.card h2 {
    margin-bottom: 20px;
}

.card-image {
    width: 300px;
    height: auto;
}

.card p {
    margin-top: 10px;
    text-align: center;
}

.checklist {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--bckgrndGrey);
    padding: 40px;
    font-weight: 100;
    font-size: 22px;
}

.checklist-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.checklist-flex div {
    margin: auto 4em;
}

#skills {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills h3 {
    padding-left: 10px;
    margin-top: 30px;
}

#skills .no-bullet {
    width: 300px;
}

.light-hr {
    border: solid 1px var(--bckgrndGrey);
}

 /* #PORTFOLIO */

#portfolio h1 {
    padding-top: 40px;
}

.card a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border: solid 3px #F5F5F5;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

 /* 
#BLOG
 */

 #blog {
    background: var(--bckgrndGrey);
    padding-bottom: 60px;
 }

 #blog h2 {
     font-family: var(--postFont);
     margin-bottom: 0;
 }

 #blog h3 {
     font-weight: 100;
 }

 #blog span {
     font-weight: 100;
 }

 #blog a {
     text-decoration: none;
 }

 #blog .pad {
    background: #FFF;
    background: url('/images/gradient.png');
    background-size: cover;
}

#blog .card img {
    height: 200px;
    padding-top: 20px;
}

#blog .card {
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 500px;
}

#blog h3 {
    margin-top: 5px;
}

.blog-hr {
    width: 80%;
    color: var(--bckgrndGrey);
}

.blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card p {
    text-align: left;
}

#blog h1 {
    padding-top: 50px;
    margin-bottom: 50px;
}

#blog h2, #blog h3, #blog span, #blog p {
    /* color: white; */
}

#pulse {
    animation: infinite;
}

.view-more {
    font-size: 16px;
    padding: 40px;
    font-weight: 100;
    font-style: italic;
    animation-delay: 2s;
    margin: 0 50%;
}

.view-more a {
    text-decoration: none;
    color: #777;
}

.blog-button {
    background: transparent;
    border: solid 3px var(--secondaryColor);
    color: var(--secondaryColor);
    padding: 10px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    margin: 20px;
}

.blog-button:hover {
    background: var(--secondaryColor);
    color: white;
}

/* #SOCIAL */

#social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

#social i {
    font-size: 40px;
    margin: auto 20px;
}

#social i:hover {
    color: var(--secondaryColor)
}

#social h1 {
    color: var(--primaryColor); 
    font-size: 32px;
}

#social-links {
    display: flex;
}

footer h1, footer a, footer i, footer span {
    color: white;
}


 /* #CONTACT */

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #333;
    display: flex;
    padding-bottom: 40px;
}

#contact-icon {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#contact h1 {
    color: var(--yellow);
    font-size: 32px;
}

#contact i {
    color: white;
    font-size: 50px;
}

#contact label {
    color: #111;
}

#contact form {
    background: #111;
    padding: 20px;
    margin: 20px 30px;
    border-radius: 6px;
    width: 600px;
}

#contact input, #contact textarea {
    border: none;
    border-radius: 3px;
    background-color: #333;
    padding: 10px;
}

#contact input {
    width: 92%;
}

#contact textarea {
    resize: none;
}

#contact input[type="submit"] {
    background: var(--secondaryColor);
    margin: 20px;
    font-size: 16px;
    width: initial;
    border-radius: 40px;
    padding: 15px;
    cursor: pointer;
}

#contact input::placeholder, #contact textarea::placeholder {
    font-size: 18px;
    font-weight: 100;
}

input[type="text"], input[type="email"], textarea {
    font-size: 18px;
    color: var(--secondaryColor);
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

input:focus, textarea:focus {
    outline: none;
}

 /* #FOOTER */

 footer {
    background: #111;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    /* bottom: 0;  */
    /* width: 100%; */
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

footer a {
    text-decoration: none;
}

#envelope {
    margin-left: 30px;
}

#copyright {
    font-size: 15px;
}