/* 
ALL 
*/

* {
    font-family: ‘Raleway’, sans-serif;
    color: #333;
    --myTurq: #83e7cb;
}

body {
    margin: 0;
    /* width: 100vw; */
}

/* #HERO */

#hero {
    background: rgb(51,51,51);
    background: linear-gradient(344deg, rgba(51,51,51,1) 0%, rgba(85,85,85,1) 24%, rgba(136,136,136,1) 100%);
    width: 100vw;
    height: 110vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr) .2fr repeat(2, 1fr);
    grid-row-gap: 12px;
}

#curly {
    font-size: 9em;
    color: #333;
    text-shadow: 2px 2px white;
    animation-delay: 400ms;
}

.grid-div-1 { 
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    text-align: center;
}

.grid-div-2 {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    text-align: center;
}

.grid-div-3 {
    grid-area: 5 / 2 / 6 / 3;
    /* grid-area: 4 / 2 / 5 / 3; */
    justify-self: center;
}

#hero h1, #hero p {
    color: white;
}

#hero h1 {
    font-size: 40px;
}

#name {
    color: var(--myTurq);
    text-shadow: 2px 2px #333;

}

#i-make {
    font-weight: 100;
    font-size: 26px;
    padding-bottom: 30px;
    text-shadow: 2px 2px #333;
    animation-delay: 500ms;
}

#my-work {
    font-size: 20px;
    font-style: italic;
    color: white;
    padding-bottom: 50px;
    border-bottom: dotted 3px #333;
    animation-delay: 1.8s;
}

.button {
    background: transparent;
    border: solid 3px var(--myTurq);
    color: var(--myTurq);
    height: 30px;
    padding: 20px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

/* .button i, button a {
    color: #0BC2C9;
} */

.button:hover {
    background: white;
    border: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pad {
    padding: 20px;
    margin-bottom: 50px;
    background: #333
}

/* 
#NAV
 */

header {
    background: #222;
    height: 5em;
    width: 100vw;
    /* background: #1B252F; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

header a:hover {
    color: red;
}

.no-bullet ul {
    padding-left: 0;
}

.no-bullet li {
    list-style-type: none;
    padding: 1em;
    /* padding-left: 0; */
}

#veggie-open, #veggie-closed {
    color: white;
    font-size: 2em;
    display: none;
}

/* 
#ABOUT
 */
#about {
     padding-top: 20px;
}

#aboutMe {
    height: 100vh;
}

#aboutMe p {
    margin-top: 50px;
}

#about h1 {
    font-size: 49px;
    font-weight: 900;
    margin: 0px auto 12px 12px;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 1px;
    /* border-top: dashed 3px #333; */
}

#about p {
    width: 60%;
    text-align: justify;
    font-size: 18px;
    padding-left: 8px;
    font-weight: 100;
}

#profilePic {
    width: 500px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    animation-delay: 500ms;
}

#about i {
    font-size: 4em;
}

.card-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px auto 20px auto;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.card figcaption {
    padding-top: 10px;
}

.card h2 {
    margin-bottom: 20px;
}

.card-image {
    width: 300px;
    height: auto;
}

.card p {
    margin-top: 10px;
    text-align: center;
}

.checklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F5F5F5;
    padding: 40px;
}


.checklist li {
    display: inline;
    font-weight: 100;
    font-size: 20px;
}

#skills {
    margin-top: 120px;
    width: 50%;
}

#skills h3 {
    padding-left: 10px;
    margin-top: 30px;
}

 /* 
#PORTFOLIO
 */

/* #portfolio {
    background: #F5F5F5;
} */

#portfolio h1 {
    margin-top: 60px;
    font-size: 49px;
}

.card a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border: solid 3px #F5F5F5;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

 /* 
#BLOG
 */



 /* 
#CONTACT
 */





 /* 
#FOOTER
 */